image: golang:1.12

pipelines:
  default:
    - step:
        name: build backend
        caches:
          - go-modules
        script:
          - GO111MODULE=off go get github.com/gobuffalo/packr/packr
          - packr
          - GOOS=linux GOARCH=amd64 URI=https://bitbucket.org/atnrpro/backoffice_app;
            go build --ldflags "
            -X 'backoffice_app/controller.branch=$BITBUCKET_BRANCH'
            -X 'backoffice_app/controller.commit=$URI/commits/$(git log -1 --pretty=%h)'
            -X 'backoffice_app/controller.author=$(git log -1 --pretty=%an)'
            -X 'backoffice_app/controller.date=$(git log -1 --pretty=%ad)'
            -X 'backoffice_app/controller.summary=$(git log -1 --pretty=%f)'
            "
          - mv backoffice_app backoffice_app_$BITBUCKET_BRANCH
          - curl -v --connect-timeout 60 --max-time 60 -X POST "https://c3RlcGFuX21vcm96b3Y6ZTJ6UDZCWXJOdEhKRGZrYVp3N3c=@api.bitbucket.org/2.0/repositories/atnrpro/backoffice_app/downloads" --form files=@"backoffice_app_$BITBUCKET_BRANCH"
    - step:
        name: test backend
        caches:
          - go-modules
        script:
          - go test ./...
definitions:
  caches:
    go-modules: $GOPATH/pkg/mod